@font-face {
  font-family: 'Cambria';
  src: url('../fonts/Cambria.ttf');
  font-weight: bold;
}

body {
    padding: 1em;
    padding-top: 0em;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    /* comment the following two lines
       to print to pdf via browser */
    margin: 1em auto;
    margin-top: 10px;
    max-width: 70em;
}

div {
    margin: 0;
}

p {
    margin-top: 0.55em;
    margin-bottom: 0.3em;
    text-align: justify;
    text-justify: distribute;
    font-size: 13px;
}

#resume-head {
    font-family: Cambria, serif;
    margin-bottom: 0.35em;
}

#contact {
    display: inline-grid;
    vertical-align: middle;
    font-size: 15px;
}

h2 {
    margin: 0;
    font-size: 2.4em;
}

h3 {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3::after {
    background: grey;
    height: 0.06em;
    flex: 1;
    content: '';
    margin: 3px;
}

h3 span {
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    padding: 2px;
    font-family: Cambria, serif;
}

h4 {
    display: flex;
    flex: 1; 
    margin-top: 0.7em;
    margin-bottom: 0em;
    font-size: 0.94em;
}

h4 span {
    text-align: right;
    margin-left: auto;
    font-size: 0.9em;
}

ul {
    margin: 0;
    padding-left: 30px;
    font-size: 13px;
}

ul li {
    padding: 1px;
}


