@font-face {
  font-family: 'Cambria';
  src: url('../fonts/Cambria.ttf');
  font-weight: bold;
}

body {
    padding: 1em;
    padding-top: 0em;
    font-family: Open Sans, sans-serif;
    font-size: 12.5px;
    /* comment the following two lines
       to print to pdf via browser */
    margin: 1em auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 70em;

    /* background-color: #323232; */
    /* color: #e5e5e5; */
}

/* When I will have multiple certifications */
/* table { */
/*   table-layout: fixed; */
/*   width: 100%; */
/*   padding: 10px; */
/* } */

/* th { */
/*     font-weight: normal; */
/*     text-align: left; */
/* } */

div {
    margin: 0;
}

p {
    margin-top: 0.30em;
    margin-bottom: 0.3em;
    text-align: justify;
    text-justify: distribute;
}

#resume-head {
    font-family: Cambria, serif;
    margin-bottom: 0.2em;
}

#contact {
    display: inline-grid;
    vertical-align: middle;
    font-size: 15px;
}

#indent {
    text-indent: 25px; 
}

h2 {
    margin: 0;
    font-size: 2em;
}

h3 {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3::after {
    background: grey;
    height: 0.06em;
    flex: 1;
    content: '';
    margin: 3px;
}

h3 span {
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    padding: 2px;
    font-family: Cambria, serif;
}

h4 {
    display: flex;
    flex: 1; 
    margin-top: 0.7em;
    margin-bottom: 0em;
    font-size: 0.94em;
}

h4 span {
    text-align: right;
    margin-left: auto;
    font-size: 0.9em;
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul li {
    padding: 2px;
}
